.kit-card {
    font-family: 'Open Sans';
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 1px solid;
}

.card-img {
    height: 200px;
}

.team-season-wrapper {
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.card-price {
    margin: 0;
    font-weight: 700;
}
