.products-page-wrapper {
    margin: 50px 20px;
    padding: 0 25px;
}

.products-title {
    font-family: 'Bebas Neue';
    margin: 50px 0px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
}

.grid-wrapper {
    display: block;
    padding: 0;
    margin: 0;
}

.products-grid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.grid-card-img {
    height: 250px;
}
